.row{
background-color: #4b85f3;
padding: 20px;
}

.conteiner{
  width: auto;
}

.parteUno, .parteDos{
  display: inline-block;
  text-align: justify;
}

.img-proyecto{
  box-shadow: 10px 10px 30px black;

}
