div{
  background-color: #4b85f3;
  text-align: center;
}

#nombre{
  font-weight: bold;
  margin-top: 20%;
  font-size: large;
}

#profesion{
  font-size: large;
}

.row{
  padding: 20px;
}

@media (min-width: 576px){
  #foto-perfil{
    position: absolute;
    width: 12%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 3%;
    top: 20%;
  }
}

@media (max-width: 575px){
  #foto-perfil{
    position: absolute;
    width: 25%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 37%;
    top: 13%;
  }
}

@media (max-width: 310px){
  #foto-perfil{
    position: absolute;
    width: 28%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 34%;
    top: 23%;
  }
}

@media (max-width: 245px){
  #foto-perfil{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 34%;
    top: 32%;
  }
}

@media (max-width: 150px){
  #foto-perfil{
    position: absolute;
    width: 35%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 34%;
    top: 35%;
  }
}
