<div class="row">
  <h2>Educacion</h2>
  <div class="col-lg-10">
    <ul>
      <img src="./assets/logo-universidad-nacional-de-la-patagonia-austral.png" alt="">
      <li><b>Analista de Sistemas</b> (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>
      <img src="./assets/13876307_1734630280147523_4595004812556288503_n.jpg" alt="">
      <li><b>Bachiller en Economia y Gestion de las Organizaciones</b> (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>
      <img src="./assets/LOGO.jpg" alt="">
      <li><b>Educacion Primaria</b> (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>
    </ul>
  </div>
</div>

