<div class="row">
  <h2>Experiencia Laboral</h2>
  <div class="col-lg-10">
    <ul>
      <li>Trabajo 1 (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>

      <li>Trabajo 2 (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>

      <li>Trabajo 3 (dd/mm/aaaa - dd/mm/aaaa) </li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed ipsam animi tempore similique saepe eius, quam numquam iste nihil obcaecati laudantium praesentium nemo modi veritatis non delectus minus voluptatum.</p>
    </ul>
  </div>
</div>
